* {
  font-family: "Courier New", Courier, monospace;
}

.todoList_card_topic {
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
}

.todoList_card_topicText {
  height: 120px;
  font-size: 15px;
  font-weight: 300;
}

.todoList_card_option {
  margin: 5px;
}

.todoList_card_option button {
  margin-left: 10px;
}

/* todo_head 스타일시트 */
.todo_head_title {
  font-size: 22px;
  padding: 20px;
}

/* todo_inputForm 스타일시트 */
.todo_inputForm {
  margin: 30px;
}

.todo_inputForm_Elements {
  display: flex;
  width: 500px;
  height: 40px;
}

.todo_inputForm_input_topic,
.todo_inputForm_input_topic_text {
  margin-left: 10px;
  border: 2px solid black;
}

.todo_input_submit {
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

/* todoListView 스타일시트 */
.todoListView {
  display: flex;
}

/* todoList_start 스타일시트 */
.todoList_start,
.todoList_end {
  width: 900px;
  height: 1000px;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid black;
}

.todoList_card {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todoList_start_title {
  margin-left: 10px;
}

/* todoList_end 스타일시트 */
.todoList_end {
  background-color: aliceblue;
}
